.App body {
  background: linear-gradient(
    270deg,
    rgb(23, 205, 205) -15.1%,
    rgb(23, 25, 95) 71.5%
  );
  color: white;
}
.App h1,
.App h2,
.App h3 {
  text-align: center;
}

.App h1 {
  font-size: 4.5rem;
}

.App h2 {
  font-size: 5.2rem;
}

.App h3 {
  font-size: 2.75rem;
}

.App ul {
  margin: 80px auto 0 auto;
  list-style: none;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.App .heading {
  margin-top: 50px;
}

.App .profileLink {
  color: lightgreen;
  text-decoration: underline;
}

.App footer {
  text-align: center;
  margin-top: 5px;
}
