.App {
  border: 1px solid white;
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 900px;
}

body {
  background: linear-gradient(
    270deg,
    rgb(23, 205, 205) -15.1%,
    rgb(23, 25, 95) 71.5%
  );
  color: white;
}
h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 5.2rem;
}

h3 {
  font-size: 2.75rem;
}

.App ul {
  margin: 80px auto 0 auto;
  list-style: none;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.heading {
  margin-top: 50px;
}
