.Weather {
  border: 1px solid rgb(218, 238, 199);
  padding: 25px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 900px;
}

.Weather .search-block,
.Weather .submit {
  display: inline;
  position: relative;
  top: -45px;
}

.Weather .search-block {
  width: 150px;
}

.Weather .currentLocation {
  margin-top: -100px;
  width: 193px;
}
